*.ipynb
*.png
*.csv
*.jpeg
*.jpg
__pycache__
.ipynb_checkpoints
/result
*.sh
!/sample_image
!/sample_image/cgan_mnist
!/sample_image/cgan_cifar/*.png
!/sample_image/cifar/*.png
!/sample_image/mnist/*.png
/common/dataset
